.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.li {
  line-height: 2;
  width: 10%;
  text-align: center;
  background-color: lightgrey;
}

.lien {
  text-decoration: none;
}

.lien:link, .lien:visited {
  color: black;
}

.lien:focus, .lien:active, .lien:hover {
  color: green;
}